<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>password reset</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <style>
      h2,
      h3,
      h4,
      p,
      a,
      button {
        font-family: inherit;
      }
      p {
        margin: 4px 0;
      }
    </style>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
      font-size: 16px;
    "
  >
    <table role="presentation" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td style="width: 100%; text-align: center">
          <img
            style="width: 200px; margin: 20px auto; height: auto"
            src=""
            alt="New Life Baptist Church (NLBC)"
          />
        </td>
      </tr>
    </table>

    <table
      style="width: 600px; margin: 0 auto"
      role="presentation"
      cellspacing="0"
      cellpadding="0"
    >
      <tr>
        <td
          style="background-color: #ffffff; border-radius: 8px; padding: 30px"
        >
          <div style="font-size: 16px; line-height: 1.6; margin: 0 0 20px">
            <p style="color: #000000">Hey [[Name]],</p>
            <p><br /></p>
            <p style="color: #000000">
              Welcome to the NLBC Web platform where you will be managing your
              bio-data.
            </p>
            <p><br /></p>
            <ol>
              <li style="color: #000000">
                <strong>Installation Guides:</strong> To install the web app on
                your mobile device bla bla bla blas bla
              </li>
              <br />
              <li style="color: #000000">
                <strong>Technical Support:</strong> If you encounter any
                technical issues or have questions regarding the web app, reach
                out to us at
                <a
                  href="mailto:newlifebcokeafa@gmail.com"
                  rel="noopener noreferrer"
                  target="_blank"
                  style="
                    text-decoration: none;
                    color: #4284f7;
                    font-family: inherit;
                  "
                >
                  newlifebcokeafa@gmail.com.
                </a>
              </li>
            </ol>
            <p style="color: #000000">
              Wishing you a fruitful stay on our platform.
            </p>
            <p><br /></p>
            <p style="color: #000000">Yours Sincerely,</p>
            <p style="color: #000000">NLBC Platform<br /><br /></p>
          </div>

          <p style="font-size: 13px; color: #777; margin: 20px 0 0">
            If you have any questions, please contact us at
            <a
              style="
                font-size: 13px;
                display: inline;
                background: transparent;
                padding: 0;
                color: #4284f7;
                font-weight: 400;
              "
              href="mailto:newlifebcokeafa@gmail.com"
              >newlifebcokeafa@gmail.com
            </a>
          </p>
        </td>
      </tr>
    </table>

    <table role="presentation" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td
          style="
            padding: 20px 0;
            text-align: center;
            color: #777;
            font-size: 12px;
          "
        >
          &copy; 2023 New Life Baptist Church (NLBC), Isolo, Lagos. All rights
          reserved.
        </td>
      </tr>
    </table>
  </body>
</html>
